<div class="container">
  <div class="header">
    
    <ul class="nav nav-pills pull-right">
      <li class="active">
        <a href="#">Home</a>
      </li>

      <li>
        <a href="#">About</a>
      </li>

      <li>
        <a href="#">Contact</a>
      </li>
    </ul>

    <h3 class="text-muted">Kicksplorer</h3>
  </div>

  <div class="jumbotron">
    <h1 class="jumbo">Welcome To Kicksplorer</h1>

    <p class="lead jumbo">
      Select a category and click 'Kicksplore!' To check out some great, likely to succeed Kickstarter Projects!
    </p>

        <%= form_for @project, url: {action: "kicksplore"}, remote: true do |f| %>
        <%= f.label :category, "Please Select A Category" %>
        <%= f.select :category, Project.categories, style: 'height: 30px;' %>
        <%= f.submit "Kicksplore!", remote: true, class: "btn btn-lg btn-success" %>
        <% end %>

    <p>
   </p>

  </div>
    <div class="row marketing project">
    </div>
</div>