// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.project {
  padding-bottom: 15px;
}

.jumbotron {
  height: 275px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.jumbo {
  margin-top: -20px;
  margin-bottom: 20px;
}

#jumboh1 {
  margin-bottom: 0px;
}

.header {
  margin-top: 10px;
  margin-bottom: 25px;
}

.kickfont {
    font-family: "RNS-B";
    font-weight: bolder;
}

img {
  height: 100%;
  width: 100%;
}

.menuitem {
  color: rgb(94,182,94) !important;
}

body {
  color:white;
  background: url(stardust.png) repeat 0 0;
}

.text-background {
  background-color: rgba(255, 255, 255, 0.0);
}

.color-link {
  color: rgba(92,184,92, 1);
  font-weight:bold;
}

.make-link:hover {
  text-shadow: black 0.1em 0.1em 0.2em;
}